#cloud-config
package_update: true

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common
  - unattended-upgrades
  - git

# Enable ipv4 forwarding, required on CIS hardened machines
write_files:
  - path: /etc/sysctl.d/enabled_ipv4_forwarding.conf
    content: |
      net.ipv4.conf.all.forwarding=1

# create the docker group
groups:
  - docker

users:
  - default
  - name: deploy
    shell: /bin/bash
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: adm, sudo, docker
    ssh_authorized_keys:
      - ${0}

# Add default auto created user to docker group
system_info:
  default_user:
    groups: adm, sudo, docker

runcmd:
  - curl -fsSL https://get.docker.com | sh
