name: ci

on:
  workflow_dispatch:
  push:
    paths:
      - '**.cs'
      - '**.csproj'
      - '**.sln'
      - ".github/workflows/ci.yaml"
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'
    - '**.sln'
    - ".github/workflows/ci.yaml"

env:
  DOTNET_VERSION: '8.x' # The .NET SDK version to use

jobs:
  ci:
    name: Build
    runs-on: ${{ matrix.os }}
    if: ${{ github.actor != 'dependabot[bot]' }}
    strategy:
      matrix:
        os: [ubuntu-latest,windows-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-restore --verbosity normal

  docker-build:
    needs: [ci]
    name: Docker Build
    uses: dockersamples/.github/.github/workflows/reusable-docker-build.yaml@main

    permissions:
      contents: read
      packages: write # needed to push docker image to ghcr.io
      pull-requests: write # needed to create and update comments in PRs

    secrets:
      # Only needed if with:dockerhub-enable is true below
      # https://hub.docker.com/settings/security
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      ghcr-enable: true

      ### A list of the account/repo names for docker build. List should match what's enabled above
      ### defaults to:
      image-names: |
         ghcr.io/${{ github.repository }}

      ### set rules for tagging images, based on special action syntax:
      ### https://github.com/docker/metadata-action#tags-input
      ### defaults to:
      tag-rules: |
        type=raw,value=latest,enable={{is_default_branch}}
        type=schedule
        type=ref,event=branch
        type=ref,event=pr
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=semver,pattern={{major}}
        type=sha

      ### path to where docker should copy files into image
      ### defaults to root of repository (.)
      context: .

      ### platforms to build for
      ### defaults to linux/amd64
      ### other options: linux/amd64,linux/arm64,linux/arm/v7
      # FIXME: https://github.com/atrakic/MudBlazor.App/actions/runs/9414458507/job/25933446867
      # platforms: linux/amd64,linux/arm64

      ### Create a PR comment with image tags and labels
      ### defaults to true
      # comment-enable: false
